---
layout: default
---

<ul>
	<li><a href="http://blog.michaeltang.me">writing (about code and stuff)</a></li>
	<li><a href="http://tang.land">random projects</a></li>
	<li><a href="http://github.com/tangmi">code (at github)</a></li>
	<li><a href="http://www.linkedin.com/pub/michael-tang/55/288/3a4">social (professionally, at linkedin)</a></li>
	<li><a href="{{site.baseurl}}/assets/tangmichael-may-2014.pdf">resumé</a></li>
</ul>

<a href="{{site.baseurl}}/archive">archive of posts?</a>

<ul>
	<b>{{site.github.owner_name}}'s repos</b>

	{% for repo in site.github.public_repositories %}
	<li><a href="{{repo.html_url}}">{{repo.name}}</a> - {{repo.description}} {% if repo.fork %}(fork){% endif %}</li>
	{% endfor %}
</ul>

<!-- https://developer.github.com/v3/repos/#list-organization-repositories -->